body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.smooth {
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  scroll-snap-align: center;
}

section:nth-child(2) {
background-color: white;
}

/* 
section:nth-child(3) {

} */
section:nth-child(4) {
  background-image: url("/assets/img/puffin.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}