body {
  max-height: 100vh;
  background-color: black;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
      background-color: black;
     /* Red */
 }
}
@media only screen and (max-width: 1000px) {
  #hero {
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 70vh;
      margin-top: 15.5em;
 }
}
/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  #hero {
      width: 100%;
      object-fit: contain;
      object-position: right;
      height: 70vh;
      background-color: black;
      margin-top: 16.5em;
 }
}
.button {
  display: block;
  margin: auto;
  width: 200px;
  height: 60px;
  position: relative;
  margin-bottom: 3em;
}
.button div {
  width: 100%;
  height: 100%;
  position: absolute;
  line-height: 60px;
  text-align: center;
  transform-origin: 50% 50% -30px;
  transition: all .5s ease;
  backface-visibility: hidden;
}
.button :nth-child(1) {
  color: black;
  background: linear-gradient(45deg, #f86f2f, #1f0a18);
  transform: rotateX(90deg);
}
.button :nth-child(2) {
  background-color: black;
  color: white;
  transform: rotateX(0deg);
}
.button:hover :nth-child(1) {
  transform: rotateX(0deg);
}
.button:hover :nth-child(2) {
  transform: rotateX(-90deg);
}
#herotitle {
  width: 80%;
}
#enterlink {
  text-decoration: none;
}
/* DEMO-SPECIFIC STYLES */
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  position: absolute;
  bottom: 79%;
  left: 15%;
  color: rgb(248, 238, 223);
  font-size: 5ch;
  font-family: monospace;
  overflow: hidden;
 /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
 /* The typwriter cursor */
  white-space: nowrap;
 /* Keeps the content on a single line */
  margin: 0 auto;
 /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
 /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
      width: 0 
 }
  to {
      width: 30% 
 }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
      border-color: transparent 
 }
  50% {
      border-color: orange 
 }
}
.text-effect {
  overflow: hidden;
  position: relative;
  left: 22%;
  bottom: 42em;
  filter: contrast(110%) brightness(190%);
  z-index: 0;
}
.neon {
  position: relative;
  background: black;
  color: transparent;
}
.neon::before, .neon::after {
  content: attr(data-text);
  color: white;
  filter: blur(0.02em);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.neon::after {
  mix-blend-mode: difference;
}
.gradient, .spotlight {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
}
.gradient {
  background: linear-gradient(45deg, rgb(226, 137, 20), rgb(236, 99, 8));
  mix-blend-mode: multiply;
}
.spotlight {
  animation: light 8s infinite linear;
  background: radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
  top: -100%;
  left: -100%;
  mix-blend-mode: color-dodge;
}
@keyframes light {
  100% {
      transform: translate3d(50%, 50%, 0);
 }
}
.neon {
  font: 700 60px 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.neon:focus {
  outline: none;
  border: 1px dotted white;
}
@media only screen and (max-width: 800px) {
  .typewriter {
      display: none;
 }
  .text-effect {
      bottom: 45em;
      left: 28%;
 }
}


